spring:
  application:
    name: "configserver"
  profiles:
    #active: native
    active: git
  cloud:
    config:
      server:
        #native:
          #search-locations: "classpath:/config"
          #search-locations: "file:///D://WSpace2026//config"
       git:
         uri: "https://github.com/biswalGit/piteasy-config.git"
         default-label: main
         timeout: 5
         clone-on-start: true
         force-pull: true

server:
  port: 8071